<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BookMapper">
    <insert id="batchInsert" parameterType="java.util.Set" >
       INSERT into book_url  (bookUrl) VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item})
        </foreach>
    </insert>
</mapper>